body {
    margin: 3%;
    background: darkslategrey;
}

p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Header */
h1 {
    font-size: 3rem;
    text-align: center;
}

/* Memory cards */

img {
    width: 102%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border-width: 0.25rem;
    height: 9.5rem;
}

#images {
    column-count: 7;
}

/* Score area */

#score {
    text-align: center;
}

#score p {
    
}