
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 2%;
    background: darkslategrey;
}

div, header {
    padding: 1rem;
}

p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Header */
h1 {
    font-size: 4rem;
    float: right;
    position: relative;
}

header p {
    float: left;
    width: 75%;
    line-height: 1.5rem;
}

/* Memory cards */

img {
    width: 102%;
    border-color: black;
    border-style: solid;
    border-radius: 5%;
    border-width: 0.25rem;
    height: 11rem;
}

#images {
    column-count: 7;
    clear: both;
}

/* Score area */

#score {
    text-align: center;
    vertical-align: middle;
    padding-top: 1rem;
}

#score p {
    padding-top: 1rem;
}

/* Play button */

button {
    text-align: center;
    margin-top: 3rem;
}