
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 2%;
    background: darkslategrey;
}

div, header {
    padding: 1rem;
}

p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Header */
h1 {
    font-size: 4rem;
    float: right;
}

header p {
    float: left;
    width: 75%;
    line-height: 1.5rem;
}

/* Memory cards */

img {
    width: 100%;
    border-radius: 5%;
    border: solid;
    height: 11rem;
}

input {
    width: 100%;
    border-radius: 5%;
    border: solid;
    height: 11rem; 
    background: black;
    color: white;
    font-size: large;
}

#images {
    column-count: 7;
    clear: both;
}

.frontside {
    display: none;
}

/* Score area */

#score {
    text-align: center;
    padding-top: 1rem;
}

/* Play button */